
body {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  background-color: hsl(185, 75%, 39%);
  overflow: hidden;
}

.card {
  width: 400px;
  background: hsl(225, 10%, 92%);
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);  /* move card slightly upward */
  box-shadow: 0 15px 40px rgba(0,0,0,0.20);
}

.card-header img {
  width: 100%;
  display: block;
}
.profile-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 5px solid white;
  margin-top: -45px;
}
.info h3 {
  margin: 10px 0 0;
  font-size: 18px;
}
.name{
  color: hsl(229, 23%, 23%);
}
.info span {
  color: hsl(227, 10%, 46%);
  font-weight: normal;
  margin-left: 5px;
}
.location {
  color: hsl(227, 10%, 46%);
  font-size: 14px;
}
.stats {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border-top: 1px solid hsl(225, 10%, 92%);
  margin-top: 70px;
}
.stats h4 {
  margin: 0;
  font-size: 18px;
  color:hsl(229, 23%, 23%);
}
.stats p {
  margin-top: 5px 0 0;
  font-size: 12px;
  color: hsl(227, 10%, 46%);
}
.topimg {
  position: absolute;
  top: -450px;
  left: -270px;
  width: 800px;
  z-index: -1;
  margin-left: 500px;
}

.bottomimg {
  position: absolute;
  bottom: -450px;
  right: -230px;
  width: 900px;
  z-index: -1;
  margin-right: 350px;
  margin-top: 100px;
}
